<div class="about-container">
  <section>
    
  </section>
  <section>
    <p>
      Hi. My name is Quentin. I am a freelance web developer. After an initial career in transportation and logistics, 
      I decided to shift to a field I had been passionate about since I was young: software development. 
      I trained in evening classes for several years while working, renovating a house, and raising my two children. 
      I fell in love with software development during those years and am very happy to make it my profession.
    </p>
    <p>
      Besides that, I spend my time looking for little gems on Spotify, 
      trying to make music, playing with AIs, or scaring myself with horror games.
    </p>
  </section>
</div>
