.profile-container {
  @apply
    flex
    items-center
    h-screen;
}

.profile {
  @apply flex flex-row justify-between items-center w-full gap-12 p-64;
  background:
        linear-gradient(to right, #151515 1px, transparent 1px) 5% 25%,
        linear-gradient(to right, #151515 1px, transparent 1px) 5% 75%,
        linear-gradient(to left, #151515 1px, transparent 1px) 95% 25%,
        linear-gradient(to left, #151515 1px, transparent 1px) 95% 75%,
        linear-gradient(to bottom, #151515 1px, transparent 1px) 5% 25%,
        linear-gradient(to bottom, #151515 1px, transparent 1px) 95% 25%,
        linear-gradient(to top, #151515 1px, transparent 1px) 5% 75%,
        linear-gradient(to top, #151515 1px, transparent 1px) 95% 75%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.profile-name {
  @apply font-bold text-4xl;
  font-family: var(--playfair), serif;
  color: var(--text);
}

.profile-description {
  font-family: var(--playfair), serif;
  color: var(--text);
  @apply font-thin text-xl text-left;
}

.profile-card {
  @apply flex flex-col justify-between items-start gap-12;
}

.profile-text {
  
}

.profile-picture {
  border-radius: 100%;
  width: 15vw;
}

.job-title {
  font-family: var(--playfair), serif;
  color: var(--text);
  @apply font-semibold text-xl text-right;
}