<div class="profile-container">
  <div class="profile">
    <img class="profile-picture" src="./assets/profile.jpg" />
    <div class="profile-card">
      <div class="profile-text">
        <h1 class="profile-name">Quentin H.</h1>
        <h2 class="job-title">Fullstack Developer</h2>
        <p class="profile-description">I create things for the web and industry.</p>
        <p class="profile-description">They also call me Toofi.</p>
      </div>
      <app-socials></app-socials>
    </div>
  </div>
</div>